body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
background-color: #f1eded;
    background-size: cover;
    min-height: 100%;

}
#container {
    margin-bottom: 30px;
}
html {
  height: 100%;
}
header {
    width: 100%;
    background-color: #c2c2c2;
    height: auto;
    text-align: center;

    padding: 10px;
    font-size: larger;
}
header a {
    color: black;
    text-decoration: none;
    margin: 0 10px; 
}
#intro {
    padding: 40px 5%;
    text-align: center;
}

#baner {
    padding: 2rem;
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    
}

#baner img {
    height: 30%;
    width: 50%;
    border-radius: 15px;
}

#baner:hover {
    background-color: #e6e3e3;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
    transform: scale(1.05)
}
.menu {
    position: absolute;

    width: 100%;
    height: 60px;
    text-align: center;
    z-index: 10;
}


.menu .logo {
    font-size: 20px;
    color: white;
    margin: 0;
    font-weight: bold;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin: 0 15px;
}


.menu a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: rgba(191, 117, 182, 0.2);
    border-radius: 5px;
}
footer {
      background-color: #c2c2c2;
 position:            static;
        bottom:                0;       
        margin:                auto;
        margin-bottom:        5pt;
        padding:                0;
        width:                100%;
        height:                75px;
        line-height: 19px;
        text-align: center;

}
footer a {
margin: 0 10px;
  color: red;
}
